/*//////////////// Flex //////////////*/

[flex] {

    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    border: 1px solid black;
}

/* Warping Options */

[warp] {

    flex-wrap: wrap;
}

[warp-rev] {
    
    flex-wrap: wrap-reverse;
}


/* Rearrange Style */

[flex][row-dir],
[flex][row] {
    
    flex-direction: row;
}

[flex][row-rev-dir],
[flex][row-rev] {

    flex-direction: row-reverse;
}

[flex][col-dir],
[flex][col] {
    
    flex-direction: column;
}

[flex][col-rev-dir],
[flex][col-rev] {
    flex-direction: column-reverse;
}

/* Direction-Section */

[flex][row-dir='l-t'],
[flex][row-rev-dir='l-t'],
[flex][col-dir='l-t'],
[flex][col-rev-dir='l-t'] {

    align-items: start;
    justify-content: start;
}

[flex][row-dir='l-b'],
[flex][row-rev-dir='l-b'],
[flex][col-dir='r-t'],
[flex][col-rev-dir='r-t'] {

    align-items: end;
    justify-content: start;
}

[flex][row-dir='r-t'],
[flex][row-rev-dir='r-t'],
[flex][col-dir='l-b'],
[flex][col-rev-dir='l-b'] {

    align-items: start;
    justify-content: end;
}

[flex][row-dir='r-b'],
[flex][row-rev-dir='r-b'],
[flex][col-dir='r-b'],
[flex][col-rev-dir='r-b'] {

    align-items: end;
    justify-content: end;
}

[flex][row-dir='c-t'],
[flex][row-rev-dir='c-t'],
[flex][col-dir='l-c'],
[flex][col-rev-dir='l-c'] {

    align-items: start;
    justify-content: center;
}

[flex][row-dir='c-b'],
[flex][row-rev-dir='c-b'],
[flex][col-dir='r-c'],
[flex][col-rev-dir='r-c'] {

    align-items: end;
    justify-content: center;
}

[flex][row-dir='l-c'],
[flex][row-rev-dir='l-c'],
[flex][col-dir='c-t'],
[flex][col-rev-dir='c-t'] {

    align-items: center;
    justify-content: start;
}

[flex][row-dir='r-c'],
[flex][row-rev-dir='r-c'],
[flex][col-dir='c-b'],
[flex][col-rev-dir='c-b'] {

    align-items: center;
    justify-content: end;
}

[flex][row-dir='c-c'],
[flex][row-rev-dir='c-c'],
[flex][col-dir='c-c'],
[flex][col-rev-dir='c-c'] {

    align-items: center;
    justify-content: center;
}

/*//////////////// Grid //////////////*/

[grid] {

    width: max-content;
    height: max-content;
    border: 1px solid black;
    display: grid;
    grid: auto / auto auto auto auto ;
    grid-template-columns: auto auto auto;
    grid-auto-flow: unset;
}

[grid][flow = 'row'] {

    grid-auto-flow: row;
}

[grid][flow = 'col'] {

    grid-auto-flow: column;
}